name: Build Express Application

on:
  push:
    branches: [master]  # Ensure consistency in branch naming.
  pull_request:
    branches: [master]  # Run checks on pull requests targeting the 'master' branch.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use the latest stable Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'node'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint

      - name: Run Build
        run: npm run build

      - name: Run Test
        run: npm test
